@charset "UTF-8";

/*
    * Alex GreenVi
    * Version - 2.0
*/
html {}
body {
    font-family: "Comfortaa", Helvetica, Arial, sans-serif;
    font-size: 13px; font-weight: 800; line-height: 1.5; color: #333333;
    background-color: #ffffff;
}


